.git/
log/*
!log/.keep
node_modules/
public/packs/
public/packs-test/
storage/*
!storage/.keep
tmp/*
!tmp/.keep
test/
spec/
vendor/

.env*
.bundle
.byebug_history
.dockerignore
config/master.key
config/credentials/development.key
config/credentials/production.key
docker-compose.yml
yarn-error.log
yarn-debug.log*
.yarn-integrity